// --------------------------------------------------------------
// ----------Beskrivning av sidan--------------------------------
// ----------Denna sida är all basstyling samt för mobil--------
// --------------------------------------------------------------

* {
    box-sizing: border-box;
}

body {
    background-color: $black;
    color: #ffffff;
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0;
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
}

///////////////
// Rubriker //
///////////////
h1 {
    color: $lightRed;
    font-size: 70px;
    line-height: 87px;
    font-weight: 400;
}

h2 {
    font-size: 35px;
    line-height: 43px;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 18px;
    font-weight: 400;
}

///////////////
////  Text ////
///////////////
p {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 400;
}

///////////////
//// Länk ////
///////////////
a {
    color: $lightRed;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    text-decoration: none;
    &:hover {
        color: $darkRed;
    }
    &:disabled {
        color: $lightGrey;
    }
}

///////////////
/// Knappar ///
///////////////
button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: $lightRed;
    color: #000000;
    font-size: 20px;
    line-height: 25px;
    border: none;
    &:hover {
        background-color: $darkRed;
    }
    &:disabled {
        background-color: $darkGrey;
    }
}
#denyBtn {
    background-color: $darkGrey;
    color: #ffffff;
}

///////////////
/// Cookies ///
///////////////
aside {
    position: fixed;
    bottom: 0;
    background-color: $lightGrey;
    height: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 1;
    width: 100vw;
    p {
        font-size: 15px;
        line-height: 25px;
        margin-left: 1%;
        margin-right: 1%;
    }
    button {
        margin-bottom: 35px;
        margin-left: 1.5%;
    }
}


///////////////
// Sektioner //
///////////////
section {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

// Sektion startvy
#sectionStart {
    background-image: url(../assets/img/ville-kaisla-HNCSCpWrVJA-unsplash-minimized.jpg);
    background-size: contain;
    background-position: center;
    text-align: center;
    padding: 0;
    img {
        width: 80px;
        height: 31px; 
        text-align: center;
        position: relative;
        top: 10px;
        left: -37%;
    }
    #headingAudi {
        text-align: center;
        position: relative;
        top: -45px;
        font-size: 60px;
        line-height: 74px;
    }
    nav {
        visibility: hidden;
    }
    button {
        margin-top: -1px;
        width: auto;
        height: auto;
        border-radius: none;
        background-color: transparent;
        border: none;
        font-size: 35px;
        line-height: 43px;
        font-weight: 400;
        color: #ffffff;
    }
    #menuBtnHamburger {
        visibility: hidden;
    }
}

// Öppen meny
.openMenu {
    background-color: $lightGrey;
    position: absolute;
    top: 0;
    padding: 0;
    h1 {
        text-align: left;
        margin-top: 15px;
        margin-left: 5%;
    }
    #closeMenuBtn {
        width: 78px;
        height: 78px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    #span1 {
        width: 100px;
        height: 10px;
        border-radius: 10px;
        background-color: #D9D9D9;
        display: block;
        rotate: -45deg;
        position: absolute;
        top: 40px;
        right: -8px; 
    }
    #span2 {
        width: 100px;
        height: 10px;
        border-radius: 10px;
        background-color: #D9D9D9;
        display: block;
        rotate: 45deg;
        position: absolute;
        top: 40px; 
        right: -8px; 
    }
    h2 {
        text-align: left;
    }
    a {
        font-size: 35px;
        line-height: 43px;
        font-weight: 400;
        color: #000000;
        margin-left: 5%;
        margin-top: 4%;
    }
}

// Sektion med nyheter
.sectionNews {
    padding: 0;
    h2 {
        margin-left: 15px;
    }
    p {
        margin-left: 15px;
        margin-right: 2px;
        letter-spacing: 0.1em;
    }
}

// Sektion med recensioner
.sectionReview {
    padding: 0;
    article {
        background-color: $darkGrey;
        border-radius: 10px;
        width: 350px;
        height: 175px;
        margin: 0 auto;
        margin-bottom: 30px;
        img {
            width: 140px;
            height: 140px;
            float: left;
            border-radius: 10px;
            margin-left: 2%;
            margin-top: 5%;
            margin-right: 10px;
        }
        h3 {
            padding-top: 25px;
            margin-bottom: 1%;
            margin-top: 5%;
        }
        p {
            letter-spacing: 0.1em;
            margin-top: 0;
        }
    }
}

// Sektion med info om funktioner
.sectionFunctions {
    padding: 0;
    h2 {
        margin-bottom: -15px;
        padding-bottom: 0;
        margin-left: 15px;
    }
    h3 {
        color: $lightRed;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 15px;
    }
    p {
        margin-top: 0.5%;
        margin-left: 15px;
        margin-right: 15px;
    }
    a {
        margin-left: 15px;
    }
}

// Sektion med bokningsformulär
.sectionBooking {
    padding-right: 3%;    
    padding: 0;
    img {
       width: 346px;
       height: 346px;
       border-radius: 10px;
    }
    h3 {
        margin-left: 15px;
    }
    form {
        position: relative;
        margin-left: 15px;
        input {
            display: block;
            border-radius: 10px;
            width: 300px;
            height: 30px;
            border: 3px #4B0F0F;
            margin-bottom: 3%;
            font-family: 'Rubik', sans-serif;
            padding-left: 3%;
        }
        button {
            position: absolute;
            right: 10px;
            color: #000000;
        }
    } 
}

///////////////
/// Footer ///
///////////////
footer {
    width: 100%;
    min-height: fit-content;
    padding: 0;
    div {
        display: flex;
        h4 {
            margin: 0;
            margin-left: 15px;
        }
        a {
            font-size: 18px;
            font-weight: 400;
        }
    }
    .footerDivGrey {
        background-color: $lightGrey;
        height: 143px;
        justify-content: space-evenly;
        flex-direction: column;
        padding-top: 2%;
        padding-bottom: 2%;
        a {
            color: #000000;
        }
    }
    .footerDivBlack {
        justify-content: space-evenly;
        flex-direction: column;
        height: 116px;
        padding-top: 1%;
        a {
            color: #ffffff;
        }
    }
}