body {
    background-color: $black;
    color: #ffffff;
    font-family: 'Rubik Mono One', sans-serif;
}


// Rubriker
h1 {
    color: $lightRed;
    font-size: 70px;
    line-height: 87px;
    font-weight: 400;
}

h2 {
    font-size: 35px;
    line-height: 43px;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 18px;
    font-weight: 400;
}


// Text
p {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 400;
}


// Länk
a {
    color: $lightRed;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    text-decoration: none;
    &:hover {
        color: $darkRed;
    }
}


// Knappar 
button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: $lightRed;
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
    border: none;
}

// // Öppen meny
// .menuOpen {
//     background-color: $lightGrey;
// }

// Sektioner
section {
    width: 100vw;
    height: 100vh;
}

#sectionStart {
    background-image: url(../assets/img/ville-kaisla-HNCSCpWrVJA-unsplash.jpg);
    background-size: contain;
    background-position: center;
    text-align: center;
    
    img {
        width: 80px;
        height: 31px; 
        text-align: center;
        position: relative;
        top: 10px;
        left: -37%;
    }

    h1 {
        text-align: center;
        position: relative;
        top: -45px;
        font-size: 60px;
        line-height: 74px;
    }

    button {
        margin-top: -1px;
        width: auto;
        height: auto;
        border-radius: none;
        background-color: transparent;
        border: none;
        font-size: 35px;
        line-height: 43px;
        font-weight: 400;
    }
}

#sectionNews {
    h2 {
       padding-left: 3%; 
    }

    p {
        padding-left: 3%; 
        padding-right: 1.5%;
        letter-spacing: 0.1em;
    }
}

#sectionReview {
    div {
        background-color: $darkGrey;
        border-radius: 10px;
        width: 350px;
        height: 175px;
        margin: 0 auto; 

        img {
            width: 140px;
            height: 140px;
            
            padding: 2%;
            float: left;
            padding-top: 4.5%;
            border-radius: 25px;
        }

        h4 {
            display: block;
            padding-top: 25px;
        }

        p {
            letter-spacing: 0.1em;
        }
    }
}

#sectionFunctions {
    h2 {
        margin-bottom: -15px;
        padding-bottom: 0;
    }
    h3 {
        color: $lightRed;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

#sectionBooking {
    padding-left: 3%;
    padding-right: 3%;    

    img {
       width: 346px;
       height: 346px;
       border-radius: 10px;
    }

    form {
        position: relative;

        input {
            display: block;
            border-radius: 10px;
            width: 300px;
            height: 30px;
            border: 3px #4B0F0F;
            margin-bottom: 3%;
            font-family: 'Rubik', sans-serif;
        }

        button {
            position: absolute;
            right: 40px;
        }
    }
}


// Footer
footer {
    div {
        display: flex;
        padding-left: 3%;
        h4 {
            margin: 0;
        }
    }
    .footerDivGrey {
        background-color: $lightGrey;
        color: #000000;
        height: 143px;
        justify-content: space-around;
        flex-direction: column;
    }

    .footerDivBlack {
        justify-content: space-around;
        flex-direction: column;
        height: 116px;
    }
}