@media screen and (min-width: 768px) {
    ///////////////
    // Sektioner

    // Sektion startvy
    #sectionStart {
        text-align: left;
        img {
            left: 0;
        }
        #headingAudi {
            text-align: left;
        }
        nav {
            visibility: visible;
            div {
                width: 100px;
                height: 60px;
                position: absolute;
                top: 35px;
                right: 50px;
                span {
                    width: 100px;
                    height: 10px;
                    background-color: #ffffff;
                    display: block;
                    margin-top: 7.5px;
                    border-radius: 10px;
                }
            }
        }
        #menuBtnText {
            visibility: hidden;
        }
    }

    // Öppen meny
    .openMenu {
        h1 {
            margin-top: 90px;
            margin-left: 81px;
        }
        h2 {
            margin-left: 81px;
            margin-bottom: 5%;
        }
        #closeMenuBtn {
            top: 33px;
            right: 29px;
        }
    }

    // Sektion med nyheter
    #sectionNews {
        width: 47%;
        height: 60vh;
        float: left;
        h2 {
            // width: 100%;
            position: absolute;
            margin: 0;
        }
        p {
            line-height: 25px;
            position: relative;
            margin-top: 0;
            top: 45px;
        }
    }

    // Sektion med recensioner
    #sectionReview {
        width: 53%;
        height: 60vh;
        float: left;
        position: relative;
        top: 25px;
        div {
            height: 170px;
        }
        img {
            margin-bottom: 2%;
        }
    }

    // Sektion med info om funktioner
    #sectionFunctions {
        width: 50%;
        height: 63vh;
        float: left;
    }

    // Sektion med bokningsformulär
    #sectionBooking {
        width: 50%;
        height: 63vh;
        float: left;
        margin-top: 3%;
    }

    ///////////////
    // Footer
    footer {
        div {
            display: flex;
            padding-left: 3%;
            h4 {
                margin: 0;
                padding-left: 2%;
            }
        }
        .footerDivGrey {
            background-color: $lightGrey;
            color: #000000;
            height: 125px;
            justify-content: space-around;
            flex-direction: column;
        }

        .footerDivBlack {
            justify-content: space-around;
            flex-direction: column;
            height: 95px;
        }
    }
}