// --------------------------------------------------------------
// ----------Beskrivning av sidan--------------------------------
// ----------Denna sida visar färgkoder och variabler------------
// --------------------------------------------------------------

$lightRed: #FF2E2E;
$darkRed: #800000;
$black: #211B1B;
$darkGrey: #4D4D4D;
$lightGrey: #7C7C7C;